<nav class="pc-sidebar">
  <div class="navbar-wrapper">
    <div class="m-header">
      <a href="/" class="b-brand text-primary">
        <!-- ========   Change your logo from here   ============ -->
        <h3 class="text-primary">Task Manager</h3>
      </a>
    </div>
    <div class="navbar-content">
      <ul class="pc-navbar">
        <li class="pc-item">
          <a href="/dashboard" class="pc-link">
            <span class="pc-micon"><i class="ti ti-dashboard"></i></span>
            <span class="pc-mtext">Dashboard</span>
          </a>
        </li>


        <li class="pc-item pc-caption">
          <label>Menu</label>
          <i class="ti ti-news"></i>
        </li>
        <li class="pc-item">
          <a href="/dashboard/tasks" class="pc-link">
            <span class="pc-micon"><i class="ti ti-list-check"></i></span>
            <span class="pc-mtext">Tasks</span>
          </a>
        </li>
        


      </ul>
    </div>
  </div>
</nav>